<%= link_to "Add a new todo", new_todo_path %>

<% if @todos %>
  <ul class="todos">
    <% @todos.each do |todo| %>
      <li class="<%= 'completed' if todo.completed? %>"">
      <%= todo.title %>
      <%= button_to 'Mark complete', todo_completion_path(todo) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>Add some todos!</p>
<% end %>
